Button {
    border-radius: 0 !important;
    padding: 8px 16px;
    cursor: pointer;
    transition: box-shadow 0.25s ease;
    border: none;
    margin: 3px;
}

Button.normal {
    background-color: #6bb7ff;
}

Button.normal:hover {
    box-shadow: 
        0 0 0 3px #0084ffff;      
}

Button.danger {
    background-color: #ff0000;
}

Button.danger:hover {
    box-shadow: 0 0 0 3px #ad0000;
}

Button.warning {
    background-color: #ffe600;
}

Button.warning:hover {
    box-shadow: 0 0 0 3px #e4ba00;
}

Button.confirm {
    background-color: #00a34c;
}

Button.confirm:hover {
    box-shadow: 0 0 0 3px #00883f;
}